<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="witch.js" defer></script>
    <title>Here's your delicious cookie.</title>
</head>
<body class="w3-black w3-text-red">
<div id="cookie" class="w3-display-container">
    <div class="w3-mobile w3-display-middle w3-padding-large">
        <h3>Here's your delicious cookie.</h3>
        <p>Enjoy it, <%= person %>.  Remember your oath, we take it very seriously.  It's as serious as that cookie is delicious.</p>
        <p>Do you know anyone else who would like a cookie?</p>
        <button onclick="location.href='/';" class="w3-button w3-red w3-border w3-border-red w3-hover-border-red w3-hover-black w3-large w3-round">Yep!</button>
    </div>
</div>
</body>
</html>