body {
    text-align:center;
}

#cookie {
    display:block;
    width:100vw;
    height:100vw;
}

/* Did you know that an ID starting with a number is not part of the CSS specification?  You do now. But we can get around that by using an attribute selector  */

[id=1], [id=2], [id=3] {
    display: none;
}


/* Animations */

.fade-in {
    display:block;
    animation: fadeIn ease 2s;
    }
    
@keyframes fadeIn {
    0% {
        opacity:0;
        translate:0px;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.fade-out {
    display:block;
    animation: fadeOut ease 1s;
    }
    
@keyframes fadeOut {
    0% {
        opacity:1;
    }
    99% {
        opacity:0;
    }
    100% {
        translate:9999px;
    }
}