body, form {
    text-align:center;
    padding:0;
    margin:0;
}

body {
    background-image: url("cookies-and-witch.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

#userName:invalid + br + span::before {
    content:"A real name, now, none of that interweb stuff.";
    font-style:italic;
    display:inline-block;
    width:25rem;
    height:4rem;
    padding:10px;
}
#userName:valid + br + span::before {
    content:"That's a nice name, thank you dear.";
    font-style:italic;
    display:inline-block;
    width:25rem;
    height:4rem;
    padding:10px;
}
#userEmail:invalid + br + span::before {
    content:"This is a magical contract, it knows when the email address is real.";
    font-style:italic;
    display:inline-block;
    width:25rem;
    height:4rem;
    padding:10px;
}
#userEmail:valid + br + span::before {
    content:"That will do nicely.  We'll be in touch.";
    font-style:italic;
    display:inline-block;
    width:25rem;
    height:4rem;
    padding:10px;
}

#cookie, #form, #naughty, #error {
    height:100vh;
    width:100vw;
}

#cookie {
    background-image: url("cookies.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

#naughty, #error {
    background-image: url("witch.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

#cookie div, #form div, #naughty div, #error div {
    background-color: rgba(0,0,0,0.7);
}

.hide {
    display:none;
    opacity:0;
}

/* Animations */

.fade-in {
    animation: fadeIn 800ms linear;
    }

.fade-out {
    opacity: 0;
    transition: opacity 400ms ease-in;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}