body, form {
    text-align:center;
    padding:0;
    margin:0;
}

body {
    background-image: url("PentagramCookies-10.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

#cookie, #form {
    height:100vh;
    width:100vw;
}

#cookie div, #form div {
    background-color: rgba(0,0,0,0.6);
}

.hide {
    display:none;
    opacity:0;
}

/* Animations */

.fade-in {
    animation: fadeIn 2s linear;
    }

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}